@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ivory text-neutral-900;
  }
  
  * {
    @apply antialiased;
  }
}

@layer components {
  /* Modern Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-neutral-100;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 rounded-full hover:bg-neutral-400;
  }
}


